APP_ENVIRONMENT=
#for production
APP_HOST=
APP_PORT=
APP_BASE_URL=
APP_VERSION=
#for dev environment
APP_HOST_DEV=0.0.0.0
APP_PORT_DEV=3000
APP_BASE_URL_DEV=/api
APP_VERSION_DEV=/v1
#for staging environment
APP_HOST_STAGING=
APP_PORT_STAGING=
APP_BASE_URL_STAGING=
APP_VERSION_STAGING=


#JWT
#for production
JWT_SECRET=
JWT_HASH=
JWT_EXPIRY=
JWT_KEY=
JWT_SECURE_LEVEL=
JWT_SAMESITE=
#for dev environment
JWT_SECRET_DEV=1234566uey7
JWT_HASH_DEV=
JWT_EXPIRY_DEV=
JWT_KEY_DEV=access_code
JWT_SECURE_LEVEL_DEV=
JWT_SAMESITE_DEV=
#for staging environment
JWT_SECRET_STAGING=
JWT_HASH_STAGING=
JWT_EXPIRY_STAGING=
JWT_KEY_STAGING=
JWT_SECURE_LEVEL_STAGING=
JWT_SAMESITE_STAGING=



#MONGODB
#for production
MONGODB_URL=
MONGODB_HOST=
MONGODB_PORT=
#for dev environment
MONGODB_URL_DEV=mongodb://mongo:27017/ansofra?replicaSet=rs0
MONGODB_HOST_DEV=
MONGODB_PORT_DEV=27017
#for staging environment
MONGODB_URL_STAGING=
MONGODB_HOST_STAGING=
MONGODB_PORT_STAGING=


#POSTGRESQL
#for production
POSTGRESQL_URL=
POSTGRESQL_HOST=
POSTGRESQL_PORT=
#for dev environment
POSTGRESQL_URL_DEV=
POSTGRESQL_HOST_DEV=
POSTGRESQL_PORT_DEV=5432
#for staging environment
POSTGRESQL_URL_STAGING=
POSTGRESQL_HOST_STAGING=
POSTGRESQL_PORT_STAGING=


#MYSQL
#for production
MYSQL_URL=
MYSQL_HOST=
MYSQL_PORT=
#for dev environment
MYSQL_URL_DEV=
MYSQL_HOST_DEV=
MYSQL_PORT_DEV=
#for staging environment
MYSQL_URL_STAGING=
MYSQL_HOST_STAGING=
MYSQL_PORT_STAGING=


#DATABASE WITH PRISMA
#for production
MONGODB_PRISMA_URL="mongodb://mongo:27017/ansofra?replicaSet=rs0"
POSTGRESQL_PRISMA_URL="postgresql://postgres:password@postgres:5432/ansofra"
MYSQL_PRISMA_URL=
#for dev environment
MONGODB_PRISMA_URL_DEV=
POSTGRESQL_PRISMA_URL_DEV=
MYSQL_PRISMA_URL_DEV=
#for staging
MONGODB_PRISMA_URL_STAGING=
POSTGRESQL_PRISMA_URL_STAGING=
MYSQL_PRISMA_URL_STAGING=


#REDIS
#for production
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
#for dev environment
REDIS_HOST_DEV=
REDIS_PORT_DEV=
REDIS_PASSWORD_DEV=
#for staging environment
REDIS_HOST_STAGING=
REDIS_PORT_STAGING=
REDIS_PASSWORD_STAGING=

#GOOGLE
#for production
GOOGLE_CLIENT_ID=
#for dev environment
GOOGLE_CLIENT_ID_DEV=
#for staging environment
GOOGLE_CLIENT_ID_STAGING=


#APPLE
#for production
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_AUDIENCE=
#for dev environment
APPLE_TEAM_ID_DEV=
APPLE_KEY_ID_DEV=
APPLE_PRIVATE_KEY_DEV=
APPLE_AUDIENCE_DEV=
#for staging environment
APPLE_TEAM_ID_STAGING=
APPLE_KEY_ID_STAGING=
APPLE_PRIVATE_KEY_STAGING=
APPLE_AUDIENCE_STAGING=


#MAILERSEND
#for production
MAILERSEND_API_KEY=
MAILERSEND_FROM_EMAIL=
MAILERSEND_FROM_NAME=
MAILERSEND_BASE_URL=
#for dev environment
MAILERSEND_API_KEY_DEV=
MAILERSEND_FROM_EMAIL_DEV=
MAILERSEND_FROM_NAME_DEV=
MAILERSEND_BASE_URL_DEV=
#for staging environment
MAILERSEND_API_KEY_STAGING=
MAILERSEND_FROM_EMAIL_STAGING=
MAILERSEND_FROM_NAME_STAGING=
MAILERSEND_BASE_URL_STAGING=


#MAILGUN
#for production
MAILGUN_API_KEY=
MAILGUN_FROM_EMAIL=
MAILGUN_FROM_NAME=
MAILGUN_BASE_URL=https://api.mailgun.net/v3
#for dev environment
MAILGUN_API_KEY_DEV=
MAILGUN_FROM_EMAIL_DEV=
MAILGUN_FROM_NAME_DEV=EkoXchange
MAILGUN_BASE_URL_DEV=https://sandbox8a030b533fbd48a0a880e10df4af1b3e.mailgun.org
#for staging environment
MAILGUN_API_KEY_STAGING=
MAILGUN_FROM_EMAIL_STAGING=
MAILGUN_FROM_NAME_STAGING=EkoXchange
MAILGUN_BASE_URL_STAGING=https://api.mailgun.net/v3



#TERMII
#for production
TERMII_API_KEY=
TERMII_API_NAME=
TERMII_BASE_URL=https://v3.api.termii.com
#for dev environment
TERMII_API_KEY_DEV=
TERMII_API_NAME_DEV=
TERMII_BASE_URL_DEV=https://v3.api.termii.com
#for staging environment
TERMII_API_KEY_STAGING=
TERMII_API_NAME_STAGING=
TERMII_BASE_URL_STAGING=https://v3.api.termii.com



#SUMSUB
#for production
SUMSUB_API_KEY=
SUMSUB_API_NAME=
SUMSUB_BASE_URL=
#for dev environment
SUMSUB_API_KEY_DEV=
SUMSUB_API_NAME_DEV=
SUMSUB_BASE_URL_DEV=
#for staging environment
SUMSUB_API_KEY_STAGING=
SUMSUB_API_NAME_STAGING=
SUMSUB_BASE_URL_STAGING=
